{% extends 'base.html.twig' %}

{% block body %}

    <h1>Review</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ review.id }}</td>
        </tr>
        <tr>
            <th>Rated user</th>
            <td>{{ review.userRated.firstName }} {{ review.userRated.lastName }}</td>
        </tr>
        <tr>
            <th>Review author</th>
            <td>{{ review.reviewAuthor.firstName }} {{ review.reviewAuthor.lastName }}</td>
        </tr>
        <tr>
            <th>Review</th>
            <td>{{ review.text }}</td>
        </tr>
        <tr>
            <th>Publication date</th>
            <td>{% if review.publicationDate %}{{ review.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ review.note }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('review_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('review_edit', { 'id': review.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
